.loadingItemWrapper {
    display: grid;
    grid-template-columns: 32px 200px;
    padding: 0;
    margin: 4px 0;
    cursor: default;
}

.loadingNavItemSpinner {
    grid-column: 1;
    margin-left: 4px;
    margin-top: 4px;
}

.loadingNavItemSpinnerLabel {
    grid-column: 2;
    cursor: default;
}
