.container {
  display: grid;
  grid-template-columns: 60px auto auto;
  grid-template-rows: 48px;
  border-bottom: 1px solid #b4009e;
  position: relative;
}

.onenoteIcon {
  width: 32px;
  height: 32px;
  margin: 8px 12px;
}

.addressBarContainer {
  grid-column: 2;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.usersContainer {
  grid-column: 3;
  text-align: right;
}

.boldText {
  font-weight: bold;
}
