.facepileContainer {
  background: white;
  border: 0cm white;
  margin: 0px;
  height: 48px;
  cursor: pointer;
}

/* this gets rid of some of the margin and the irritating default behaviour of showing the personaName,
which appears when there's only one user */
.facepileContainerSingleUser {
  max-width: 48px;
}

.PersonaContainer {
  margin: 12px;
}

.addbuttonContainer {
  width: 40px;
  overflow: hidden;
  height: 48px;
  float: right;
  margin: 8px 0px;
}
