.addNavItemWrapper {
    width: 100%;
    padding: 6px 4px;
    margin: 0;
}

.addNavItemButton {
    background: white;
    border: none;
    width: 100%;
    cursor: pointer;
    text-align: left;
    padding: 0;
    margin: 0;
    outline: none
}

.addNavItemButton:hover {
    background: #fceffb;
}

.addNavItemButton:active {
    background: #f7e5f5;
}

.addNavItemLabel {
    color: #b4009e;
}

.addIcon {
    padding-left: 3px;
}
