.navContextItemWrapper {
    background: white;
    border: none;
    width: 160px;
    text-align: left;
    cursor: pointer;
    outline: none;
    padding: 6px;
}

.navContextItemWrapper:hover {
    background: #fceffb;
}

.navContextItemWrapper:active {
    background: #f7e5f5;
}

.icon {
    vertical-align: middle;
}

label {
    cursor: pointer;
}
